@using Model.Models;
@model IEnumerable<AlunoTurma>

<h1>Relação Aluno Turma</h1>

<a asp-action="Criar" asp-controller="AlunoTurma" type="button" class="btn btn-primary">Criar Relação Aluno com Turma</a>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome Turma</th>
            <th scope="col">Nome Usuario</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var alunoTurma in Model)
        {
            <tr>
                <th>@alunoTurma.NomeTurma</th>
                <th>@alunoTurma.NomeAluno</th>
                <th>
                    <btn class="btn btn-danger" onclick="Inativar(@alunoTurma.Id)">Inativar</btn>
                </th>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function Inativar(id){
            if (confirm("Quer mesmo inativar esse relacionamento?")) {
                $.ajax({
                    method: "POST",
                    url: "/AlunoTurma/Inativar",
                    data: { id: id },
                    success: (retorno) => {
                        if (retorno) {
                            alert("Relação deletada com sucesso")
                            location.reload()
                        }
                        else {
                            console.log(retorno)
                            alert("Erro ao deletar o Aluno")
                        }


                    }
                })
            }
        }
    </script>
}